<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.example.myapp">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".civildaactivity"></activity>
        <activity android:name=".nisactivity" />
        <activity android:name=".calculusactivity" />
        <activity android:name=".dlmactivity" />
        <activity android:name=".stestingactivity" />
        <activity android:name=".dsaactivity" />
        <activity android:name=".aodactivity" />
        <activity android:name=".tocactivity" />
        <activity android:name=".uploadcivilactivity" />
        <activity android:name=".branchActivity" />
        <activity android:name=".eeeActivity" />
        <activity android:name=".webtechactivity" />
        <activity android:name=".aladaactivity" />
        <activity android:name=".dccnactivity" />
        <activity android:name=".dbmsactivity" />
        <activity android:name=".uploadsactivity" />
        <activity android:name=".OSACTIVITY" />
        <activity android:name=".assignmentactivity" />
        <activity android:name=".civilactivity" />
        <activity android:name=".oops4activity" />
        <activity android:name=".oops3activity" />
        <activity android:name=".oops2activity" />
        <activity android:name=".oops1activity" />
        <activity android:name=".balaactivity" />
        <activity android:name=".veeractivity" />
        <activity android:name=".alaactivity" />
        <activity android:name=".mod3activity" />
        <activity android:name=".engineerActivity" />
        <activity android:name=".passwordactivity" />
        <activity android:name=".splashactivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".moduleactivity" />
        <activity android:name=".langactivity" />
        <activity android:name=".orderactivity" />
        <activity android:name=".mathactivity" />
        <activity android:name=".docactivity" />
        <activity android:name=".descactivity" />
        <activity android:name=".lectactivity" />
        <activity android:name=".homeactivity" />
        <activity android:name=".gosignActivity" />
        <activity android:name=".MainActivity" />
    </application>

</manifest>